* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: rgb(51 51 51);
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom right, #ffffff 40%, #b1d9ff);
}

header {
  text-align: center;
  width: 80vw;
  margin: 100px auto;
}

button {
  border: none;
}

.input-form {
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

form {
  display: flex;
  align-items: stretch;
}

.input-form input {
  width: 240px;
  padding: 3px 8px;
  border: 1px solid rgb(218 220 222);
  border-radius: 3px;
}

.input-form button {
  padding: 8px 8px;
  background: rgb(243, 240, 84);
  border-radius: 3px;
}

.add-icon {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-list {
  width: 100vw;
  margin: 50px auto;
}

table {
  margin: 0px auto;
  background: white;
  border: 1px solid rgb(218 220 222);
  border-radius: 5px;
  border-collapse: collapse;
  width: 40%;
}

tr {
  border-bottom: 1px solid rgb(218 220 222);
}

td {
  padding: 0px 0px 0px 5px;
}

.icons {
  display: flex;
  justify-content: end;
}

.check-button {
  background: rgb(83, 164, 195);
  padding: 8px 8px;
  border-radius: 3px;
}

.delete-button {
  background: rgb(197, 70, 81);
  padding: 8px 8px;
  border-radius: 3px;
}

.check-icon {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-icon {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.completed {
  text-decoration: line-through;
  opacity: 0.3;
}
