* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: rgb(51 51 51);
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom right, #ffffff 40%, #b1d9ff);
}

header {
  text-align: center;
  margin: 100px auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border: none;
  padding: 8px 8px;
  border-radius: 3px;
}

.input-form {
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

form {
  display: flex;
  align-items: stretch;
  width: 450px;
}

.input-form input {
  width: 240px;
  padding: 3px 8px;
  border: 1px solid rgb(218 220 222);
  border-radius: 3px;
  flex-grow: 1;
}

.icon {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-lists {
  width: 100vw;
  margin: 50px auto;
}

.icons {
  display: flex;
  justify-content: end;
}

.add-button {
  background: rgb(83, 164, 195);
}

.completed {
  text-decoration: line-through;
  opacity: 0.3;
}

.todo-list {
  list-style: none;
  width: 450px;
}

.todo-item {
  background: white;
  padding: 10px;
  display: flex;
  border-top: 1px solid rgb(218 220 222);
  border-right: 1px solid rgb(218 220 222);
  border-bottom: 1px solid rgb(218 220 222);
  border-left: 3px solid rgb(67 130 196);
  border-radius: 3px;
  justify-content: space-between;
  margin: 3px 0;
}

.todo-actions {
  width: 140px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.todo-actions a {
  font-size: 14px;
  color: #0954ab;
  text-decoration: none;
  cursor: pointer;
}

.separator {
  color: rgb(191 194 196);
}

.edit-input {
  padding: 0px 3px;
  border: solid rgb(218 220 222);
  border-radius: 3px;
}
